@font-face {
  font-family: "Bahnschrift";
  src: url(../fonts/Bahnschrift.ttf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
form {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  line-height: 1;
}

button,
input,
textarea {
  outline: none !important;
  transition: all .3s;
  font-family: "Bahnschrift", sans-serif;
}
button::placeholder,
input::placeholder,
textarea::placeholder {
  color: #a8a8a8;
}

input[type=text]:focus,
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input:active {
  outline: none !important;
}

::-webkit-input-placeholder {
  color: #222;
}

::-moz-placeholder {
  color: #222;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #222;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #222;
}

.transit {
  /* Safari */
  transition: all 0.4s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

svg {
  flex-shrink: 0;
}

svg,
path {
  transition: all .3s;
}

body {
  font-family: "Bahnschrift", sans-serif;
  font-weight: 400;
  height: 100%;
  color: #2B2A29;
}
body.fixed-body {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  text-decoration: none !important;
  color: inherit;
}
a:focus {
  text-decoration: none !important;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

i {
  line-height: 100%;
}

label {
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 13px center;
  outline: none;
  padding-right: 25px;
  padding-left: 17px;
  color: #000000;
  font-size: 17px;
}
select::-ms-expand {
  display: none;
}

.border-b:before {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 8px;
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: left -12px top;
  background-image: url(../img/border-input.png);
}

.border-t:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: -4px;
  left: 0;
  width: 100%;
  height: 8px;
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: left -12px top;
  background-image: url(../img/border-input.png);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.btn-yellow {
  background: #FECF3D;
  border-radius: 30px;
  font-size: 20px;
  color: #2B2A29;
  padding: 0 32px;
  height: 36px;
  text-transform: uppercase;
}
.btn-yellow:hover {
  background: #2B2A29;
  color: #fff;
}
.btn-yellow:disabled {
  background: #D9DADA !important;
  color: #2B2A29;
  cursor: not-allowed;
}

.form-group {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 20px;
}
.form-group label {
  margin-bottom: 0;
  width: 200px;
  font-size: 30px;
  font-weight: normal;
  line-height: 120%;
  flex-shrink: 0;
}
.form-group input {
  margin-bottom: 8px;
  height: 36px;
  min-height: 100%;
  width: calc(100% - 200px);
  border: none;
  background-color: transparent;
  background-position: left -12px bottom;
  background-size: auto 8px;
  background-repeat: repeat-x;
  background-image: url(../img/border-input.png);
  padding-bottom: 8px;
  font-size: 25px;
  line-height: 120%;
  padding-right: 5px;
}
.form-group--error .form-group__error {
  display: block;
}
.form-group__error {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 2px;
  font-size: 20px;
  color: #D40000;
  left: 0;
  top: 100%;
  padding-left: 200px;
}

textarea {
  font-size: 25px;
  line-height: 120%;
  padding: 23px 30px;
  color: #2B2A29;
}

.cartcalc {
  display: flex;
  align-items: center;
  padding: 0 16px;
  background: #FECF3D;
  border-radius: 30px;
  width: 93px;
  height: 36px;
}
.cartcalc input {
  width: unset;
  border: none;
  font-size: 20px;
  width: calc(100% - 24px);
  height: 100%;
  background-color: transparent;
  text-align: center;
}
.cartcalc button {
  width: 12px;
  height: 90%;
}

.page-top {
  padding-top: 30px;
  padding-bottom: 40px;
  background: #6B9D52;
}
.page-top__title {
  font-size: 80px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.page-top__step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 265px;
}
.page-top__step-title {
  font-weight: normal;
  font-size: 80px;
  line-height: 120%;
  text-transform: uppercase;
  color: #A8C599;
}
.page-top__step-title--active {
  color: #FFFFFF;
}
.page-top__step-title--small {
  font-size: 50px !important;
}

.card {
  text-align: center;
  padding: 50px 0;
  transition: all .3s;
  position: relative;
}
.card:hover {
  box-shadow: 0px 20px 50px rgba(77, 75, 73, 0.2);
  border-radius: 50px;
}
.card__badge {
  position: absolute;
  top: 50px;
  right: 50px;
  background: #FECF3D;
  width: 101px;
  height: 101px;
  border-radius: 50%;
  padding: 20px 0;
  text-align: center;
}
.card__badge-num {
  display: block;
  font-size: 25px;
  line-height: 120%;
  margin-bottom: 3px;
}
.card__img {
  height: 275px;
  display: block;
  cursor: pointer;
}
.card__juices {
  max-height: 100%;
  max-width: 100%;
}
.card__title {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 10px;
  display: block;
}
.card__title:hover {
  color: #FECF3D;
  cursor: pointer;
}
.card__weight {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #797272;
  margin-bottom: 15px;
  display: block;
}
.card__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.card__price {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #2B2A29;
  margin-right: 30px;
  display: block;
}
.card__favourite:hover path {
  stroke: #FECF3D;
}
.card__favourite--active path {
  fill: #FECF3D;
  stroke: #FECF3D;
}
.card__btn {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 38px;
  height: 52px;
}

.page-title {
  padding: 40px 15px;
  font-size: 80px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.yellow-bg {
  background: #FECF3D;
}

.orange-bg {
  background: #F29114;
}

.pink-bg {
  background: #F08AA8;
}

.header {
  padding: 20px 0 24px;
  position: relative;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #fff;
  width: 100%;
}
.header__inner {
  padding-left: 265px;
  position: relative;
}
.header__logo {
  width: 150px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -74px;
  z-index: 3;
}
.header__logo svg {
  width: 100%;
}
.header__logo:hover .header__logo-bg {
  opacity: 0.14;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
.header__bottom {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}
.header__link {
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
}
.header__link span {
  margin: 0 8px;
}
.header__menu1-item {
  flex-wrap: wrap;
  transition: all .0s;
}
.header__menu1-item:not(:last-child) {
  margin-right: 35px;
}
.header__menu1-item a {
  display: block;
  height: 100%;
}
.header__menu1-item span {
  margin: 0;
  width: 100%;
  transition: all .2s;
}
.header__menu1-item i {
  width: 25px;
  height: 25px;
  display: block;
  margin: 9px auto 0;
  border-radius: 50%;
  background: #D9DADA;
  transition: all .2s;
}
.header__menu1-item--color1.active-link span, .header__menu1-item--color1:hover span {
  color: #F29114;
}
.header__menu1-item--color1.active-link i, .header__menu1-item--color1:hover i {
  background: #F29114;
}
.header__menu1-item--color2.active-link span, .header__menu1-item--color2:hover span {
  color: #FECF3D;
}
.header__menu1-item--color2.active-link i, .header__menu1-item--color2:hover i {
  background: #FECF3D;
}
.header__menu1-item--color3.active-link span, .header__menu1-item--color3:hover span {
  color: #F08AA8;
}
.header__menu1-item--color3.active-link i, .header__menu1-item--color3:hover i {
  background: #F08AA8;
}
.header__menu1-item--color4.active-link span, .header__menu1-item--color4:hover span {
  color: #E5097F;
}
.header__menu1-item--color4.active-link i, .header__menu1-item--color4:hover i {
  background: #E5097F;
}
.header__menu1-item--color5.active-link span, .header__menu1-item--color5:hover span {
  color: #EF7F1A;
}
.header__menu1-item--color5.active-link i, .header__menu1-item--color5:hover i {
  background: #EF7F1A;
}
.header__menu1-item--color6.active-link span, .header__menu1-item--color6:hover span {
  color: #AE4A84;
}
.header__menu1-item--color6.active-link i, .header__menu1-item--color6:hover i {
  background: #AE4A84;
}
.header__menu1-item--color7.active-link span, .header__menu1-item--color7:hover span {
  color: #009846;
}
.header__menu1-item--color7.active-link i, .header__menu1-item--color7:hover i {
  background: #009846;
}
.header__menu1-item--color8.active-link span, .header__menu1-item--color8:hover span {
  color: #7BB933;
}
.header__menu1-item--color8.active-link i, .header__menu1-item--color8:hover i {
  background: #7BB933;
}
.header__menu1-top {
  display: none;
}
.header__menu1-wrap {
  display: flex;
}
.header__menu2 {
  display: flex;
}
.header__menu2-item {
  margin-left: 55px;
}
.header__menu2-item a {
  display: block;
}
.header__menu2-item span {
  margin: 0;
  width: 100%;
  transition: all .2s;
}
.header__menu2-item i {
  width: 25px;
  height: 25px;
  display: block;
  margin: 9px auto 0;
  border-radius: 50%;
  background: #2B2A29;
  transition: all .2s;
  opacity: 0;
}
.header__menu2-item:hover i {
  opacity: 1;
}
.header__menu2-close {
  display: none;
}
.header__city, .header__cart, .header__login {
  display: flex;
  align-items: center;
}
.header__city:hover, .header__cart:hover, .header__login:hover {
  color: #FECF3D;
}
.header__city:hover path, .header__cart:hover path, .header__login:hover path {
  fill: #FECF3D;
}
.header__login {
  margin-left: 80px;
}
.header__mob {
  display: none;
}

.main__item {
  padding: 118px 0;
  background-size: cover;
}
.main__item-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__item-left {
  max-width: 800px;
}
.main__item-left img {
  width: 100%;
}
.main__item-right {
  max-width: 485px;
  margin-left: 100px;
}
.main__item-right img {
  width: 100%;
}
.main__slider {
  position: relative;
}
.main__slider-nav {
  position: absolute;
  bottom: 55px;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__slider-next, .main__slider-prev {
  position: static;
  margin-top: 0;
}
.main__slider-next:after, .main__slider-prev:after {
  display: none;
}
.main__slider-pag {
  position: static;
  margin: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  opacity: 1;
  margin: 0 25px;
}
.main__slider .swiper-pagination-bullet-active {
  background: #FECF3D;
  width: 20px;
  height: 20px;
}

.our-project {
  background: #6B9D52;
  position: relative;
  height: 718px;
}
.our-project__img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
}
.our-project__img img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 1820px) {
  .our-project__img {
    display: none;
  }
}
.our-project__inner {
  display: flex;
}
.our-project__items {
  display: grid;
  grid-template-columns: repeat(4, 210px);
  gap: 45px 10px;
  margin-left: auto;
  padding: 55px 0;
}
@media screen and (max-width: 1820px) {
  .our-project__items {
    margin: 0 auto;
  }
}
.our-project__item-img img {
  width: 100%;
}
.our-project__item-title {
  font-size: 35px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 16px;
}

.hits .swiper-slide {
  padding: 58px 0;
}
.hits .swiper-container {
  padding: 0 65px;
}
@media screen and (max-width: 1420px) {
  .hits .swiper-container {
    padding: 0 25px;
  }
}
@media screen and (max-width: 768px) {
  .hits .swiper-container {
    padding: 0 10px;
  }
}
.hits__slider {
  display: flex;
  align-items: center;
}
.hits__slider-prev, .hits__slider-next {
  position: static;
  margin-top: 0;
}
.hits__slider-prev:after, .hits__slider-next:after {
  display: none;
}
.hits__slider-prev:hover path, .hits__slider-next:hover path {
  fill: #FECF3D;
}
@media screen and (max-width: 768px) {
  .hits__slider-prev, .hits__slider-next {
    display: none;
  }
}

.delivery {
  background: url(../img/delivery3.png), linear-gradient(291.53deg, #FECF3D 3.56%, #6B9D52 69.58%);
  padding: 40px 0 47px;
  background-repeat: no-repeat;
  background-position: right bottom;
}
@media screen and (max-width: 1820px) {
  .delivery {
    background-size: 600px auto, cover;
  }
}
@media screen and (max-width: 1420px) {
  .delivery {
    background-size: 0px auto, cover;
  }
}
.delivery__inner {
  max-width: 870px;
}
@media screen and (max-width: 1420px) {
  .delivery__inner {
    max-width: 100%;
  }
}
.delivery__title {
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.delivery__min {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.delivery__min-item {
  text-align: center;
}
.delivery__min-item-round {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.delivery__min-item-title {
  color: #FFFFFF;
  margin-top: 9px;
  font-size: 20px;
  line-height: 120%;
}
.delivery__map {
  margin-top: 23px;
  border-radius: 60px;
  overflow: hidden;
}
.delivery__map .maps-block {
  width: 100%;
  height: 400px;
}
.delivery__variants {
  margin-top: 35px;
}
.delivery__variants-wrap {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.delivery__variant {
  text-align: center;
}
.delivery__variant-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFFFFF;
  margin: 0 auto;
}
.delivery__variant-title {
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 8px;
}
.delivery__variant-desc {
  margin: 5px auto 0;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 245px;
}

.pay {
  padding: 50px 0 54px;
}
.pay__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 170px;
}
@media screen and (max-width: 1420px) {
  .pay__inner {
    padding: 0;
  }
}
.pay__card {
  background: #6B9D52;
  box-shadow: 0px 20px 50px rgba(77, 75, 73, 0.2);
  border-radius: 50px;
  padding: 44px 0 50px;
  flex-shrink: 0;
  width: 520px;
}
.pay__card-top {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pay__card-logo {
  display: flex;
  align-items: center;
}
.pay__card-logo img {
  width: 73px;
  margin-right: 16px;
}
.pay__card-title {
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.pay__card-balance, .pay__card-price, .pay__card-who, .pay__card-name {
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.pay__card-price {
  margin-top: 12px;
  text-align: right;
}
.pay__card-img {
  margin-top: 30px;
}
.pay__card-img img {
  width: 100%;
}
.pay__card-info {
  margin-top: 24px;
  padding: 0 50px;
}
.pay__card-name {
  text-transform: unset;
  margin-top: 10px;
}
.pay__card-code {
  margin: 190px auto 0;
  background: #FFFFFF;
  max-width: 346px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.pay__card-code svg {
  width: 100%;
  height: auto;
}
.pay__right {
  margin-left: 30px;
}
.pay__title {
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
}
.pay__items {
  margin-top: 60px;
}
.pay__item {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.pay__item-icon {
  background: #6B9D52;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  margin-right: 25px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pay__item-title {
  font-size: 30px;
  line-height: 120%;
}
.pay__bottom {
  display: flex;
  align-items: center;
  margin-top: 90px;
}
.pay__btn {
  height: 52px;
  margin-left: 33px;
  padding: 0 40px;
}

.footer-top {
  position: relative;
  padding: 40px 0 48px;
}
.footer-top__title {
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
}
.footer-top__inner {
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
}
.footer__privacy, .footer__ooo, .footer__inn, .footer__link {
  font-size: 30px;
  line-height: 120%;
}
.footer__ooo {
  margin: 6px 0 4px;
}
.footer__link {
  display: block;
}
.footer__link:not(:last-child) {
  margin-bottom: 45px;
}
.footer__link:hover {
  color: #FECF3D;
}
.footer-bottom {
  background: #6B9D52;
  padding: 44px 0;
}
.footer-bottom__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom__title {
  color: #FFFFFF;
  font-size: 80px;
  line-height: 120%;
  text-transform: uppercase;
}
.footer__socials {
  display: flex;
  align-items: center;
}
.footer__socials-item {
  background: #FFFFFF;
  border-radius: 20px;
  margin-left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
}
.footer__socials-item:hover {
  background-color: transparent;
}
.footer__socials-item:hover path {
  fill: #fff;
}
.footer__socials-item:hover svg {
  width: 100%;
  height: auto;
}

.modal-backdrop.in {
  background: rgba(196, 196, 196, 0.76);
  opacity: 1;
}

.modal-dialog {
  background: #FFFFFF;
  border-radius: 50px;
  overflow: hidden;
  width: 715px;
}
.modal__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 87px;
  background: #FECF3D;
  border-radius: 50px 50px 0px 0px;
  padding: 28px 60px;
}
.modal__title {
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.modal__title svg {
  display: none;
  margin-right: 8px;
}
.modal__content {
  padding: 30px 55px;
}

.modal-city__title {
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
}
.modal-city__btn {
  margin-top: 25px;
}
.modal-city__bottom {
  margin-top: 33px;
}
.modal-city__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  margin-top: 18px;
}
.modal-city__item {
  font-size: 20px;
  line-height: 120%;
  transition: all .3s;
}
.modal-city__item:hover {
  color: #FECF3D;
  cursor: pointer;
}

.modal-login .modal-dialog {
  width: 627px;
}
.modal-login__form-group {
  margin-bottom: 25px;
}
.modal-login__form-group--hint {
  align-items: flex-start;
}
.modal-login__form-btn {
  margin: 50px 0 0 auto;
  height: 40px;
  padding: 0 26px;
}
.modal-login__form-hint {
  width: calc(100% - 200px);
  font-size: 14px;
  line-height: 17px;
}
@media screen and (max-width: 992px) {
  .modal-login__form-hint {
    width: calc(100% - 90px);
    font-size: 12px;
    line-height: 120%;
  }
}
.modal-login__form-code-btn {
  margin: -10px auto 0;
  width: 116px;
  height: 40px;
}
.modal-login__form-code-btn:hover path {
  fill: #fff;
}

.modal-cart .container {
  position: relative;
}
.modal-cart .modal__top {
  display: none;
}
@media screen and (max-width: 768px) {
  .modal-cart .modal__top {
    display: flex;
  }
}
.modal-cart .modal-dialog {
  position: absolute;
  width: 520px;
  margin: 60px 0 0 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .modal-cart .modal-dialog {
    margin-top: 0;
  }
}
.modal-cart__content {
  padding: 30px 30px 50px;
}
.modal-cart__items {
  padding: 0 30px 30px 0;
  overflow-y: auto;
  max-height: 525px;
}
.modal-cart__items::-webkit-scrollbar {
  width: 24px;
}
.modal-cart__items::-webkit-scrollbar-track {
  background: #F1F1F1;
  border-radius: 20px;
}
.modal-cart__items::-webkit-scrollbar-thumb {
  background: #FECF3D;
  border-radius: 20px;
}
.modal-cart__item {
  display: flex;
  padding-bottom: 23px;
  background-position: left bottom;
  background-size: auto 8px;
  background-repeat: repeat-x;
  background-image: url(../img/border.png);
  margin-bottom: 25px;
}
.modal-cart__item-img {
  display: block;
  width: 145px;
  margin-right: 15px;
  flex-shrink: 0;
}
.modal-cart__item-img img {
  width: 100%;
}
.modal-cart__item-content {
  flex-grow: 1;
}
.modal-cart__item-top {
  display: flex;
  justify-content: space-between;
}
.modal-cart__item-title {
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  margin-right: 20px;
}
.modal-cart__item-delete:hover path {
  fill: #FECF3D;
}
.modal-cart__item-weight {
  font-size: 20px;
  line-height: 120%;
  margin-top: 10px;
}
.modal-cart__item-category {
  font-size: 14px;
  line-height: 17px;
  color: #797272;
  margin-top: 12px;
}
.modal-cart__item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.modal-cart__item-price {
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
}
.modal-cart__gift {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-cart__gift-title {
  font-size: 25px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.modal-cart__gift-title svg {
  margin-left: 14px;
}
.modal-cart__sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% + 60px);
  margin-left: -30px;
  background: #FECF3D;
  padding: 23px 80px 23px 28px;
}
.modal-cart__sum-title {
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
}

.modal-product .modal-dialog {
  width: 1370px;
}
@media screen and (max-width: 1400px) {
  .modal-product .modal-dialog {
    width: calc(100% - 20px);
  }
}
.modal-product .product__inner {
  padding: 50px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .modal-product .product__inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.modal-product .product__right {
  margin-left: 55px;
}
@media screen and (max-width: 992px) {
  .modal-product .product__right {
    margin-left: 0;
  }
}
.modal-product__close {
  position: absolute;
  top: 50px;
  right: 50px;
}
@media screen and (max-width: 992px) {
  .modal-product__close {
    right: 20px;
  }
}
.modal-product__close:hover path {
  fill: #FECF3D;
}

.category {
  padding-top: 55px;
  padding-bottom: 55px;
}
.category__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.product__inner {
  display: flex;
  padding: 50px 70px;
}
@media screen and (max-width: 1420px) {
  .product__inner {
    padding-left: 0;
    padding-right: 0;
  }
}
.product__img {
  max-width: 730px;
}
.product__img img {
  width: 100%;
}
.product__right {
  margin-left: 94px;
  min-width: 545px;
}
@media screen and (max-width: 1420px) {
  .product__right {
    margin-left: 30px;
  }
}
.product__title {
  font-size: 60px;
  line-height: 120%;
  text-transform: uppercase;
}
.product__weight {
  display: flex;
  margin-top: 18px;
}
.product__weight-item {
  position: relative;
}
.product__weight-item input {
  position: absolute;
  opacity: 0;
}
.product__weight-item input:checked + label {
  color: #2B2A29;
}
.product__weight-item:not(:last-child) {
  margin-right: 24px;
}
.product__weight-item label {
  font-weight: 400;
  color: #797272;
  font-size: 25px;
  line-height: 120%;
  transition: all .3s;
  cursor: pointer;
  margin: 0;
}
.product__item {
  margin-top: 20px;
}
.product__item-title {
  font-size: 25px;
  line-height: 120%;
}
.product__item-desc {
  font-size: 20px;
  line-height: 120%;
  margin-top: 7px;
  color: #797272;
  white-space: nowrap;
}
.product__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}
.product__price {
  font-size: 60px;
  line-height: 120%;
  text-transform: uppercase;
  margin-right: auto;
}
.product__btn {
  height: 52px;
  padding: 0 37px;
  margin-left: 30px;
}
.product__favourite:hover path {
  stroke: #FECF3D;
}
.product__favourite--active path {
  fill: #FECF3D;
  stroke: #FECF3D;
}

.cart__item {
  align-items: center;
  margin-bottom: 0;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 270px;
  padding-right: 270px;
}
.cart__img {
  margin-right: 200px;
  width: 232px;
  flex-shrink: 0;
}
.cart__title {
  font-size: 40px;
  line-height: 120%;
  margin-right: 0;
}
.cart__weight {
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px;
}
.cart__category {
  font-size: 25px;
  line-height: 30px;
  margin-top: 15px;
}
.cart__item-bottom {
  margin-top: 25px;
}
.cart__calc {
  width: 120px;
  height: 50px;
}
.cart__input {
  font-size: 25px !important;
}
.cart__juices {
  max-height: 100%;
  max-width: 100%;
}
.cart__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 60px;
  margin-bottom: 0;
}
.cart__form-hint {
  font-size: 14px;
  line-height: 17px;
  max-width: 430px;
  margin-left: 30px;
  display: none;
}
.cart__form-hint--active {
  display: block;
}
.cart__form-item {
  position: relative;
  width: 292px;
}
.cart__form-input {
  padding-right: 55px;
  width: 100%;
  height: 40px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  border: none;
  padding-bottom: 12px;
  background-position: left bottom;
  background-size: auto 8px;
  background-repeat: repeat-x;
  background-image: url(../img/border.png);
}
.cart__form-info {
  position: absolute;
  right: 0;
  bottom: 14px;
}
.cart__form-btn {
  height: 52px;
  margin-left: 30px;
}
.cart__item-two {
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 205px;
}
.cart__sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__desc {
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #2B2A29;
}
.cart__price {
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #2B2A29;
}
.cart__btn {
  height: 52px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 38px;
}

.reg {
  padding: 47px 0 54px;
}
.reg__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px 150px;
}
@media screen and (max-width: 1820px) {
  .reg__grid {
    gap: 8px 25px;
  }
}
@media screen and (max-width: 1420px) {
  .reg__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .reg__grid {
    grid-template-columns: 1fr;
  }
}
.reg__form-group {
  align-items: flex-end;
}
.reg__form-group label {
  width: 180px;
}
.reg__form-group input {
  width: calc(100% - 180px);
}
.reg__form-group .form-group__error {
  padding-left: 180px;
}
@media screen and (max-width: 992px) {
  .reg__form-group label {
    width: 90px;
  }
  .reg__form-group input {
    width: calc(100% - 90px);
  }
  .reg__form-group .form-group__error {
    padding-left: 0px;
  }
}
.reg__text {
  margin-top: 42px;
  padding: 50px 0;
  position: relative;
}
.reg__text-title {
  font-size: 40px;
  line-height: 120%;
}
.reg__text textarea {
  background: #F1F1F1;
  border-radius: 50px;
  margin-top: 20px;
  width: 600px;
  min-height: 228px;
  resize: none;
  border: none;
}
.reg__text-btn {
  height: 52px;
  margin-top: 20px;
  padding: 0 35px;
}
.reg__text .form-group__error {
  position: static;
  padding-left: 0;
}
.reg__text--error .form-group__error {
  display: block;
}
.reg__btn {
  height: 52px;
  padding: 0 52px;
  margin: 54px auto 0;
}

.lk {
  padding: 43px 0 54px;
}
.lk__inputs {
  max-width: 770px;
}
.lk__form-hint {
  position: absolute;
  left: 100%;
  bottom: 100%;
  transform: translate(0, 50px);
  width: 210px;
  display: none;
}
.lk__form-hint--active {
  display: block;
}
.lk__form-hint svg {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1100px) {
  .lk__form-hint {
    width: 160px;
  }
}
@media screen and (max-width: 992px) {
  .lk__form-hint {
    left: 0;
  }
}
.lk__form-info {
  position: absolute;
  right: 0;
  bottom: 25px;
}
.lk__form-group {
  margin-bottom: 25px;
}
.lk__form-group label {
  width: 355px;
  font-size: 40px;
}
.lk__form-group input {
  width: calc(100% - 355px);
  height: 50px;
}
.lk__form-group .form-group__error {
  padding-left: 355px;
}
@media screen and (max-width: 992px) {
  .lk__form-group label {
    width: 100px;
    font-size: 20px;
  }
  .lk__form-group input {
    width: calc(100% - 100px);
  }
  .lk__form-group .form-group__error {
    padding-left: 0px;
  }
}
.lk__bottom {
  padding-left: 355px;
  display: flex;
  align-items: center;
}
.lk__save, .lk__logout {
  width: 182px;
  height: 52px;
  padding: 0;
}
.lk__logout {
  margin-left: 300px;
}
@media screen and (max-width: 1200px) {
  .lk__logout {
    margin-left: auto;
  }
}

.history {
  padding: 20px 0 54px;
}
.history__item {
  margin-bottom: 20px;
}
.history__item-show {
  display: flex;
  position: relative;
  padding: 23px 0;
}
.history__item-col:nth-child(1) {
  width: 440px;
  flex-shrink: 0;
}
.history__item-col:nth-child(2), .history__item-col:nth-child(3) {
  width: 540px;
  flex-shrink: 0.5;
  flex-grow: 1;
}
.history__item-col:nth-child(4) {
  width: 245px;
  flex-shrink: 0;
}
.history__item-text {
  font-size: 40px;
  line-height: 120%;
}
.history__item-btn, .history__item-repeat {
  display: flex;
  align-items: center;
}
.history__item-btn svg, .history__item-repeat svg {
  margin-left: 15px;
}
.history__item-btn--active svg, .history__item-repeat--active svg {
  transform: rotate(180deg);
}
.history__item-btn:hover, .history__item-repeat:hover {
  color: #FECF3D;
}
.history__item-btn:hover path, .history__item-repeat:hover path {
  stroke: #FECF3D;
}
.history__item-hidden {
  margin-top: 40px;
  display: none;
}
.history__item-order {
  display: flex;
  align-items: center;
  padding: 0 245px 0 440px;
}
.history__item-order-col {
  width: 540px;
  flex-shrink: 0.5;
  flex-grow: 1;
  font-size: 40px;
  line-height: 120%;
  color: #D9DADA;
}
.history__buttons {
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding: 0 245px 0 440px;
}
.history__btn {
  width: 182px;
  height: 52px;
  padding: 0;
}

.franchise__inner {
  display: flex;
  align-items: center;
}
.franchise__right {
  max-width: 780px;
  flex-shrink: 0;
  padding: 50px 0;
}
.franchise__left {
  max-width: 1077px;
  margin-left: -75px;
}
.franchise__left img {
  width: 100%;
}
.franchise__desc {
  margin-bottom: 25px;
}
.franchise__text {
  font-size: 20px;
  line-height: 24px;
  color: #2B2A29;
}
.franchise__text:not(:last-child) {
  margin-bottom: 20px;
}
.franchise__btn {
  height: 52px;
}

.order__item {
  background-color: transparent;
  background-position: left -12px bottom;
  background-size: auto 8px;
  background-repeat: repeat-x;
  background-image: url(../img/border-input.png);
  padding-top: 50px;
  padding-bottom: 50px;
}
.order__sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.order__desc, .order__number {
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
}
.order__group {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 482px;
}
.order__group label {
  font-size: 40px;
  line-height: 48px;
  color: #2B2A29;
  margin-right: 30px;
}
.order__group input {
  width: calc(100% - 340px);
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
  border: none;
  background-color: transparent;
  background-position: left -3px bottom;
  background-size: auto 8px;
  background-repeat: repeat-x;
  background-image: url(../img/border-input.png);
}
.order__delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.order__total {
  padding-top: 20px;
  padding-bottom: 25px;
  background: #FECF3D;
}
.order__total-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-form {
  padding: 40px 0 50px;
}
.order-form__inner {
  display: flex;
}
.order-form__left {
  max-width: 560px;
  margin-right: 150px;
}
.order-form__right {
  max-width: 205px;
  padding-top: 10px;
}
.order-form__code, .order-form__btn {
  width: 182px;
  height: 52px;
  padding: 0;
}
.order-form__hint {
  font-size: 14px;
  line-height: 17px;
  margin-top: 35px;
}
.order-form__btn {
  margin: 45px auto 0;
}

.payment__item {
  padding-top: 45px;
  padding-bottom: 45px;
}
.payment__item:not(:last-child) {
  background-position: left bottom;
  background-size: auto 8px;
  background-repeat: repeat-x;
  background-image: url(../img/border.png);
}
.payment__item-desc {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.payment__item-desc svg {
  margin-left: 28px;
}
.payment__desc {
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #2B2A29;
}
.payment__text {
  font-size: 25px;
  line-height: 30px;
  color: #2B2A29;
}
.payment__accrued {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment__price {
  display: flex;
  align-items: center;
}
.payment__sum {
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #2B2A29;
  margin-left: 15px;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  min-width: 1920px;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}

.mt-0 {
  margin-top: 0;
}

input[type="date"] {
  position: relative;
  background-image: url(../img/calendar.svg);
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 11px auto;
  padding-right: 28px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  opacity: 0;
}
