.cart__item {
  align-items: center;
  margin-bottom: 0;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 270px;
  padding-right: 270px; }
.cart__img {
  margin-right: 200px;
  width: 232px;
  flex-shrink: 0; }
.cart__title {
  font-size: 40px;
  line-height: 120%;
  margin-right: 0; }
.cart__weight {
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px; }
.cart__category {
  font-size: 25px;
  line-height: 30px;
  margin-top: 15px; }
.cart__item-bottom {
  margin-top: 25px; }
.cart__calc {
  width: 120px;
  height: 50px; }
.cart__input {
  font-size: 25px !important; }
.cart__juices {
  max-height: 100%;
  max-width: 100%; }
.cart__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 60px;
  margin-bottom: 0; }
  .cart__form-hint {
    font-size: 14px;
    line-height: 17px;
    max-width: 430px;
    margin-left: 30px;
    display: none; }
    .cart__form-hint--active {
      display: block; }
  .cart__form-item {
    position: relative;
    width: 292px; }
  .cart__form-input {
    padding-right: 55px;
    width: 100%;
    height: 40px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    border: none;
    padding-bottom: 12px;
    background-position: left bottom;
    background-size: auto 8px;
    background-repeat: repeat-x;
    background-image: url(../img/border.png); }
  .cart__form-info {
    position: absolute;
    right: 0;
    bottom: 14px; }
  .cart__form-btn {
    height: 52px;
    margin-left: 30px; }
.cart__item-two {
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.cart__content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 205px; }
.cart__sum {
  display: flex;
  justify-content: space-between;
  align-items: center; }
.cart__desc {
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #2B2A29; }
.cart__price {
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #2B2A29; }
.cart__btn {
  height: 52px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 38px; }

@media screen and (max-width: 1820px) {
  .cart__item {
    padding-left: 170px;
    padding-right: 170px; }
  .cart__img {
    margin-right: 100px; }
  .cart__content {
    margin-left: 100px; } }
@media screen and (max-width: 1420px) {
  .cart__item {
    padding-left: 100px;
    padding-right: 100px; } }
@media screen and (max-width: 1200px) {
  .cart__img {
    margin-right: 50px; }
  .cart__title {
    font-size: 30px; }
  .cart__delete svg {
    width: 28px;
    height: 30px; }
  .cart__price {
    font-size: 30px; } }
@media screen and (max-width: 992px) {
  .cart__item {
    padding-left: 0px;
    padding-right: 0px;
    background-size: auto 4px;
    padding-top: 25px;
    padding-bottom: 30px; }
  .cart__img {
    width: 86px;
    margin-right: 15px;
    padding-left: 10px; }
  .cart__title {
    font-size: 18px; }
  .cart__delete svg {
    width: 18px;
    height: 20px; }
  .cart__price {
    font-size: 18px; }
  .cart__weight {
    font-size: 16px;
    line-height: 19px;
    margin-top: 3px; }
  .cart__category {
    font-size: 14px;
    line-height: 17px;
    margin-top: 3px; }
  .cart__item-bottom {
    margin-top: 15px; }
  .cart__calc {
    width: 90px;
    height: 30px; }
  .cart__input {
    font-size: 20px !important; }
  .cart__form-item {
    margin-right: auto;
    margin-left: auto;
    width: 190px; }
  .cart__form-input {
    height: 30px;
    font-size: 18px;
    line-height: 22px;
    background-size: auto 5px;
    padding-right: 25px; }
  .cart__form-info svg {
    width: 22px;
    height: auto; }
  .cart__form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-size: auto 4px;
    padding-top: 35px;
    padding-bottom: 30px; }
    .cart__form-hint {
      padding: 0 30px;
      margin: 18px auto 0;
      text-align: left; }
  .cart__form-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; }
  .cart__desc {
    font-size: 18px;
    line-height: 22px; }
  .cart__content {
    margin-left: 30px; }
    .cart__content svg {
      width: 15px;
      height: 20px; }
  .cart__btn {
    margin-top: 20px; }
  .cart__item-three {
    padding-bottom: 50px; } }

/*# sourceMappingURL=cart.css.map */
