.header {
  padding: 20px 0 24px;
  position: relative;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #fff;
  width: 100%; }
  .header__inner {
    padding-left: 265px;
    position: relative; }
  .header__logo {
    width: 150px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -74px;
    z-index: 3; }
    .header__logo svg {
      width: 100%; }
    .header__logo:hover .header__logo-bg {
      opacity: 0.14; }
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__top-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1; }
  .header__bottom {
    margin-top: 14px;
    display: flex;
    justify-content: space-between; }
  .header__link {
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase; }
    .header__link span {
      margin: 0 8px; }
  .header__menu1-item {
    flex-wrap: wrap;
    transition: all .0s; }
    .header__menu1-item:not(:last-child) {
      margin-right: 35px; }
    .header__menu1-item a {
      display: block;
      height: 100%; }
    .header__menu1-item span {
      margin: 0;
      width: 100%;
      transition: all .2s; }
    .header__menu1-item i {
      width: 25px;
      height: 25px;
      display: block;
      margin: 9px auto 0;
      border-radius: 50%;
      background: #D9DADA;
      transition: all .2s; }
    .header__menu1-item--color1.active-link span, .header__menu1-item--color1:hover span {
      color: #F29114; }
    .header__menu1-item--color1.active-link i, .header__menu1-item--color1:hover i {
      background: #F29114; }
    .header__menu1-item--color2.active-link span, .header__menu1-item--color2:hover span {
      color: #FECF3D; }
    .header__menu1-item--color2.active-link i, .header__menu1-item--color2:hover i {
      background: #FECF3D; }
    .header__menu1-item--color3.active-link span, .header__menu1-item--color3:hover span {
      color: #F08AA8; }
    .header__menu1-item--color3.active-link i, .header__menu1-item--color3:hover i {
      background: #F08AA8; }
    .header__menu1-item--color4.active-link span, .header__menu1-item--color4:hover span {
      color: #E5097F; }
    .header__menu1-item--color4.active-link i, .header__menu1-item--color4:hover i {
      background: #E5097F; }
    .header__menu1-item--color5.active-link span, .header__menu1-item--color5:hover span {
      color: #EF7F1A; }
    .header__menu1-item--color5.active-link i, .header__menu1-item--color5:hover i {
      background: #EF7F1A; }
    .header__menu1-item--color6.active-link span, .header__menu1-item--color6:hover span {
      color: #AE4A84; }
    .header__menu1-item--color6.active-link i, .header__menu1-item--color6:hover i {
      background: #AE4A84; }
    .header__menu1-item--color7.active-link span, .header__menu1-item--color7:hover span {
      color: #009846; }
    .header__menu1-item--color7.active-link i, .header__menu1-item--color7:hover i {
      background: #009846; }
    .header__menu1-item--color8.active-link span, .header__menu1-item--color8:hover span {
      color: #7BB933; }
    .header__menu1-item--color8.active-link i, .header__menu1-item--color8:hover i {
      background: #7BB933; }
  .header__menu1-top {
    display: none; }
  .header__menu1-wrap {
    display: flex; }
  .header__menu2 {
    display: flex; }
    .header__menu2-item {
      margin-left: 55px; }
      .header__menu2-item a {
        display: block; }
      .header__menu2-item span {
        margin: 0;
        width: 100%;
        transition: all .2s; }
      .header__menu2-item i {
        width: 25px;
        height: 25px;
        display: block;
        margin: 9px auto 0;
        border-radius: 50%;
        background: #2B2A29;
        transition: all .2s;
        opacity: 0; }
      .header__menu2-item:hover i {
        opacity: 1; }
    .header__menu2-close {
      display: none; }
  .header__city, .header__cart, .header__login {
    display: flex;
    align-items: center; }
    .header__city:hover, .header__cart:hover, .header__login:hover {
      color: #FECF3D; }
      .header__city:hover path, .header__cart:hover path, .header__login:hover path {
        fill: #FECF3D; }
  .header__login {
    margin-left: 80px; }
  .header__mob {
    display: none; }

/*# sourceMappingURL=header.css.map */
