.header {
  padding: 20px 0 24px;
  position: relative;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #fff;
  width: 100%; }
  .header__inner {
    padding-left: 265px;
    position: relative; }
  .header__logo {
    width: 150px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -74px;
    z-index: 3; }
    .header__logo svg {
      width: 100%; }
    .header__logo:hover .header__logo-bg {
      opacity: 0.14; }
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__top-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1; }
  .header__bottom {
    margin-top: 14px;
    display: flex;
    justify-content: space-between; }
  .header__link {
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase; }
    .header__link span {
      margin: 0 8px; }
  .header__menu1-item {
    flex-wrap: wrap;
    transition: all .0s; }
    .header__menu1-item:not(:last-child) {
      margin-right: 35px; }
    .header__menu1-item span {
      margin: 0;
      width: 100%;
      transition: all .2s; }
    .header__menu1-item i {
      width: 25px;
      height: 25px;
      display: block;
      margin: 9px auto 0;
      border-radius: 50%;
      background: #D9DADA;
      transition: all .2s; }
    .header__menu1-item--color1.active-link span, .header__menu1-item--color1:hover span {
      color: #F29114; }
    .header__menu1-item--color1.active-link i, .header__menu1-item--color1:hover i {
      background: #F29114; }
    .header__menu1-item--color2.active-link span, .header__menu1-item--color2:hover span {
      color: #FECF3D; }
    .header__menu1-item--color2.active-link i, .header__menu1-item--color2:hover i {
      background: #FECF3D; }
    .header__menu1-item--color3.active-link span, .header__menu1-item--color3:hover span {
      color: #F08AA8; }
    .header__menu1-item--color3.active-link i, .header__menu1-item--color3:hover i {
      background: #F08AA8; }
    .header__menu1-item--color4.active-link span, .header__menu1-item--color4:hover span {
      color: #E5097F; }
    .header__menu1-item--color4.active-link i, .header__menu1-item--color4:hover i {
      background: #E5097F; }
    .header__menu1-item--color5.active-link span, .header__menu1-item--color5:hover span {
      color: #EF7F1A; }
    .header__menu1-item--color5.active-link i, .header__menu1-item--color5:hover i {
      background: #EF7F1A; }
    .header__menu1-item--color6.active-link span, .header__menu1-item--color6:hover span {
      color: #AE4A84; }
    .header__menu1-item--color6.active-link i, .header__menu1-item--color6:hover i {
      background: #AE4A84; }
    .header__menu1-item--color7.active-link span, .header__menu1-item--color7:hover span {
      color: #009846; }
    .header__menu1-item--color7.active-link i, .header__menu1-item--color7:hover i {
      background: #009846; }
    .header__menu1-item--color8.active-link span, .header__menu1-item--color8:hover span {
      color: #7BB933; }
    .header__menu1-item--color8.active-link i, .header__menu1-item--color8:hover i {
      background: #7BB933; }
  .header__menu1-top {
    display: none; }
  .header__menu1-wrap {
    display: flex; }
  .header__menu2 {
    display: flex; }
    .header__menu2-item {
      margin-left: 55px; }
      .header__menu2-item span {
        margin: 0;
        width: 100%;
        transition: all .2s; }
      .header__menu2-item i {
        width: 25px;
        height: 25px;
        display: block;
        margin: 9px auto 0;
        border-radius: 50%;
        background: #2B2A29;
        transition: all .2s;
        opacity: 0; }
      .header__menu2-item:hover i {
        opacity: 1; }
    .header__menu2-close {
      display: none; }
  .header__city, .header__cart, .header__login {
    display: flex;
    align-items: center; }
    .header__city:hover, .header__cart:hover, .header__login:hover {
      color: #FECF3D; }
      .header__city:hover path, .header__cart:hover path, .header__login:hover path {
        fill: #FECF3D; }
  .header__login {
    margin-left: 80px; }
  .header__mob {
    display: none; }

@media screen and (max-width: 1820px) {
  .header__inner {
    padding-left: 180px; }
  .header__menu1-item:not(:last-child) {
    margin-right: 15px; }
  .header__menu2-item {
    margin-left: 15px; } }
@media screen and (max-width: 1420px) {
  .header__bottom {
    display: block; }
  .header__menu1 {
    justify-content: space-between; }
  .header__menu2 {
    justify-content: space-between;
    margin-top: 20px; }
    .header__menu2-item {
      margin-left: 0; } }
@media screen and (max-width: 992px) {
  .header__inner {
    padding-left: 0; }
  .header__logo {
    position: static;
    width: 45px; }
  .header__menu2 {
    display: none; }
  .header__top {
    justify-content: flex-end; }
    .header__top-right {
      flex-grow: 0; }
  .header__mob {
    display: flex;
    align-items: center;
    margin-right: auto; }
    .header__mob-menu {
      margin-left: 25px; }
      .header__mob-menu:hover {
        color: #FECF3D; }
  .header__burger {
    display: flex;
    align-items: center;
    width: 38px;
    height: 31px;
    position: relative; }
    .header__burger:hover span {
      background: #FECF3D; }
    .header__burger span {
      display: block;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      background: #2B2A29;
      transition: all .3s; }
      .header__burger span:nth-child(1) {
        top: 0;
        position: absolute;
        left: 0; }
      .header__burger span:nth-child(3) {
        bottom: 0;
        position: absolute;
        left: 0; }
    .header__burger--active span:nth-child(1) {
      transform: translateY(13px) rotate(-45deg); }
    .header__burger--active span:nth-child(2) {
      transform: scale(0); }
    .header__burger--active span:nth-child(3) {
      transform: translateY(-13px) rotate(45deg); }
  .header__login, .header__cart {
    margin-left: 28px; }
    .header__login span, .header__cart span {
      display: none; }
  .header__city span, .header__city-arrow {
    display: none; }
  .header__city svg, .header__cart svg, .header__login svg {
    width: auto;
    height: 30px; }
  .header__menu1, .header__menu2 {
    transition: all .3s;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    z-index: 10; }
    .header__menu1--active, .header__menu2--active {
      left: 0; }
    .header__menu1-top, .header__menu2-top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #FECF3D;
      height: 65px;
      padding: 0 28px; }
    .header__menu1-wrap, .header__menu2-wrap {
      padding: 0 0 0 28px;
      flex-wrap: wrap;
      justify-content: center; }
    .header__menu1-close, .header__menu2-close {
      display: unset; }
    .header__menu1-item, .header__menu2-item {
      margin-top: 24px;
      margin-right: 28px !important; }
  .header__menu2 {
    display: block;
    margin-top: 0; }
    .header__menu2-top {
      margin-bottom: 25px; }
    .header__menu2-item {
      margin: 13px 0 0 0 !important;
      padding: 0 28px;
      display: block; }
      .header__menu2-item i {
        display: none; }
      .header__menu2-item:hover {
        color: #FECF3D; } }

/*# sourceMappingURL=header.css.map */
