.reg {
  padding: 47px 0 54px; }
  .reg__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px 150px; }
    @media screen and (max-width: 1820px) {
      .reg__grid {
        gap: 8px 25px; } }
    @media screen and (max-width: 1420px) {
      .reg__grid {
        grid-template-columns: 1fr 1fr; } }
    @media screen and (max-width: 768px) {
      .reg__grid {
        grid-template-columns: 1fr; } }
  .reg__form-group {
    align-items: flex-end; }
    .reg__form-group label {
      width: 180px; }
    .reg__form-group input {
      width: calc(100% - 180px); }
    .reg__form-group .form-group__error {
      padding-left: 180px; }
    @media screen and (max-width: 992px) {
      .reg__form-group label {
        width: 90px; }
      .reg__form-group input {
        width: calc(100% - 90px); }
      .reg__form-group .form-group__error {
        padding-left: 0px; } }
  .reg__text {
    margin-top: 42px;
    padding: 50px 0;
    position: relative; }
    .reg__text-title {
      font-size: 40px;
      line-height: 120%; }
    .reg__text textarea {
      background: #F1F1F1;
      border-radius: 50px;
      margin-top: 20px;
      width: 600px;
      min-height: 228px;
      resize: none;
      border: none; }
    .reg__text-btn {
      height: 52px;
      margin-top: 20px;
      padding: 0 35px; }
    .reg__text .form-group__error {
      position: static;
      padding-left: 0; }
    .reg__text--error .form-group__error {
      display: block; }
  .reg__btn {
    height: 52px;
    padding: 0 52px;
    margin: 54px auto 0; }

.lk {
  padding: 43px 0 54px; }
  .lk__inputs {
    max-width: 770px; }
  .lk__form-hint {
    position: absolute;
    left: 100%;
    bottom: 100%;
    transform: translate(0, 50px);
    width: 210px;
    display: none; }
    .lk__form-hint--active {
      display: block; }
    .lk__form-hint svg {
      width: 100%;
      height: auto; }
    @media screen and (max-width: 1100px) {
      .lk__form-hint {
        width: 160px; } }
    @media screen and (max-width: 992px) {
      .lk__form-hint {
        left: 0; } }
  .lk__form-info {
    position: absolute;
    right: 0;
    bottom: 25px; }
  .lk__form-group {
    margin-bottom: 25px; }
    .lk__form-group label {
      width: 355px;
      font-size: 40px; }
    .lk__form-group input {
      width: calc(100% - 355px);
      height: 50px; }
    .lk__form-group .form-group__error {
      padding-left: 355px; }
    @media screen and (max-width: 992px) {
      .lk__form-group label {
        width: 100px;
        font-size: 20px; }
      .lk__form-group input {
        width: calc(100% - 100px); }
      .lk__form-group .form-group__error {
        padding-left: 0px; } }
  .lk__bottom {
    padding-left: 355px;
    display: flex;
    align-items: center; }
  .lk__save, .lk__logout {
    width: 182px;
    height: 52px;
    padding: 0; }
  .lk__logout {
    margin-left: 300px; }
    @media screen and (max-width: 1200px) {
      .lk__logout {
        margin-left: auto; } }

@media screen and (max-width: 992px) {
  .reg__text {
    margin-top: 40px;
    padding-top: 45px; }
    .reg__text-title {
      font-size: 20px;
      text-align: center; }
    .reg__text textarea {
      margin-top: 25px;
      width: 100%;
      min-height: 300px; }
    .reg__text-btn {
      margin: 30px auto 0; }
  .reg__btn {
    margin-top: 52px; }

  .lk__form-group input {
    height: 30px; }
  .lk__form-info {
    bottom: 23px; }
    .lk__form-info svg {
      width: 30px;
      height: auto; }
  .lk__bottom {
    display: block;
    padding-left: 0; }
  .lk__save, .lk__logout {
    margin: 30px auto 0; }
  .lk__save {
    margin-top: 0; } }

/*# sourceMappingURL=pages.css.map */
