.product {
    &__inner {
        display: flex;
        padding: 50px 70px;
        @media screen and (max-width: 1420px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__img {
        max-width: 730px;
        img {
            width: 100%;
        }
    }
    &__right {
        margin-left: 94px;
        min-width: 545px;
        @media screen and (max-width: 1420px) {
            margin-left: 30px;
        }
    }
    &__title {
        font-size: 60px;
        line-height: 120%;
        text-transform: uppercase;
    }
    &__weight {
        display: flex;
        margin-top: 18px;
        &-item {
            position: relative;
            input {
                position: absolute;
                opacity: 0;
                &:checked+label {
                    color: #2B2A29;
                }
            }
            &:not(:last-child) {
                margin-right: 24px;
            }
            label {
                font-weight: 400;
                color: #797272;
                font-size: 25px;
                line-height: 120%;
                transition: all .3s;
                cursor: pointer;
                margin: 0;
            }
        }
    }
    &__item {
        margin-top: 20px;
        &-title {
            font-size: 25px;
            line-height: 120%;
        }
        &-desc {
            font-size: 20px;
            line-height: 120%;
            margin-top: 7px;
            color: #797272;
            white-space: nowrap;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 30px;
    }
    &__price {
        font-size: 60px;
        line-height: 120%;
        text-transform: uppercase;
        margin-right: auto;
    }
    &__btn {
        height: 52px;
        padding: 0 37px;
        margin-left: 30px;
    }
    &__favourite {
        &:hover {
            path {
                stroke: #FECF3D;
            }
        }
        &--active {
            path {
                fill: #FECF3D;
                stroke: #FECF3D;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .product {
        &__title {
            font-size: 25px;
        }
        &__right {
            min-width: 450px;
        }
        &__weight {
            margin-top: 7px;
            &-item {
                &:not(:last-child) {
                    margin-right: 17px;
                }
                label {
                    font-size: 20px;
                }
            }
        }
        &__item {
            &-title {
                font-size: 20px;
            }
            &-desc {
                font-size: 18px;
                margin-top: 2px;
                white-space: unset;
            }
        }
        &__bottom {
            margin-top: 20px;
        }
        &__price {
            font-size: 25px;
        }
        &__favourite {
            svg {
                width: 20px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .product {
        &__inner {
            display: block;
        }
        &__right {
            min-width: unset;
            width: 100%;
            margin-left: 0;
        }
        &__img {
            max-width: 400px;
            margin: 0 auto 23px;
            padding: 0 15px;
        }
        &__bottom {
            justify-content: center;
            margin-top: 0;
            flex-wrap: wrap;
        }
        &__price {
            margin: 25px 10px 0;
        }
        &__favourite {
            margin: 25px 10px 0;
        }
        &__btn {
            margin: 25px 20px 0;
        }
    }
}